In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [2]:
# Load the data millas por galon
data = sns.load_dataset('mpg')

In [3]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [4]:
data = data.dropna()

In [5]:
y = data['mpg']
X = data.drop('mpg', axis=1)

In [6]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 397
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   cylinders     392 non-null    int64
 1   displacement  392 non-null    float64
 2   horsepower    392 non-null    float64
 3   weight        392 non-null    int64
 4   acceleration  392 non-null    float64
 5   model_year    392 non-null    int64
 6   origin        392 non-null    object
 7   name          392 non-null    object
dtypes: float64(3), int64(3), object(2)
memory usage: 27.6+ KB

In [7]:
X = X.drop(['name'], axis=1)

In [8]:
X.origin.unique()

array(['usa', 'japan', 'europe'], dtype=object)

In [9]:
map_origin = {'usa':1, 'europe':2, 'japan':3}

In [10]:
X.origin = X.origin.map(map_origin)
X.head()

,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,8,307.0,130.0,3504,12.0,70,1
1,8,350.0,165.0,3693,11.5,70,1
2,8,318.0,150.0,3436,11.0,70,1
3,8,304.0,150.0,3433,12.0,70,1
4,8,302.0,140.0,3449,10.5,70,1

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
rf_reg = RandomForestRegressor(n_estimators=100, random_state=42)
rf_reg.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [13]:
rf_reg.score(X_test, y_test)

0.888712085258602

In [14]:
import pickle

In [15]:
pickle.dump(rf_reg, open('model.pkl', 'wb'))

In [16]:
loaded_model = pickle.load(open('model.pkl', 'rb'))

In [17]:
loaded_model.score(X_test, y_test)

0.888712085258602